@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

body {
  font-family: "Spartan", var(--font-sans);
  font-weight: 700;
  font-size: 100%;
  line-height: var(--font-lineheight-3);
  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--font-lineheight-1);
  font-weight: var(--font-weight-7);
}
h1 {
  font-size: var(--font-size-7);
  max-inline-size: var(--size-header-1);
}
h2 {
  font-size: var(--font-size-6);
  max-inline-size: var(--size-header-2);
}
h3 {
  font-size: var(--font-size-5);
}
h4 {
  font-size: var(--font-size-4);
}
h5 {
  font-size: var(--font-size-3);
}
h6 {
  font-size: var(--font-size-1);
}

h3,
h4,
h5,
h6,
dt {
  max-inline-size: var(--size-header-3);
}

p,
ul,
ol,
dl,
h6 {
  font-size: var(--font-size-2);
}

a,
u,
ins,
abbr {
  text-underline-offset: 1px;
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*="-"]) {
  cursor: pointer;
  touch-action: manipulation;
}

a {
  padding-inline: var(--size-1);
  margin-inline: calc(var(--size-1) * -1);
  padding-block: var(--size-1);
  margin-block: calc(var(--size-1) * -1);

  &[href] {
    text-decoration-color: var(--indigo-2);

    &:visited {
      text-decoration-color: var(--grape-2);
    }
  }

  &:not(:hover) {
    text-decoration: inherit;
  }
}

small {
  font-size: var(--font-size-1);
}

b {
  font-weight: var(--font-weight-7);
}

strong {
  font-weight: var(--font-weight-9);
}

em,
i,
dfn,
cite,
var {
  font-style: italic;
}

ins {
  text-decoration: underline;
}

mark {
  background-color: var(--color-primary-light);
  color: var(--font-color-inverse);
}
