.dark {
  color-scheme: dark;

  --text-1: hsl(52, 100%, 62%);
  --text-2: hsl(52, 100%, 62%);
  --white: hsl(198, 20%, 13%);

  --surface-1: hsl(268, 75%, 9%); // main background
  --surface-2: hsl(268, 71%, 12%); // toggle background, keypad background
  --surface-3: hsl(268, 71%, 12%); // screen background
  --surface-4: hsl(281, 89%, 26%); // key background, toggle
  --shadow-color: hsl(285, 91%, 52%); // key shadow

  --surface-contrast: hsl(176, 100%, 44%);
  --shadow-contrast: hsl(177, 92%, 70%);

  --key: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
}
