.light {
  color-scheme: light;

  --text-1: hsl(0, 0, 100%);
  --text-2: hsl(60, 10%, 19%);

  --surface-1: hsl(0, 0%, 90%); // main background
  --surface-2: hsl(0, 5%, 81%); // toggle background, keypad background
  --surface-3: hsl(0, 0%, 93%); // screen background
  --surface-4: hsl(185, 42%, 37%); // key background, toggle
  --shadow-color: hsl(185, 58%, 25%); // key shadow

  --surface-contrast: hsl(25, 98%, 40%);
  --shadow-contrast: hsl(25, 99%, 27%);

  --key: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
}
