body {
  background-color: var(--surface-1);
}

.calculator {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-2);
  justify-content: center;
  padding-top: var(--size-10);
  text-align: center;
}
